{:objects
 {:LatLng
  {:description "Lat lng pair."
   :fields
   {:lat {:type String}
    :lng {:type String}}}
  :Viewport
  {:description "More specific geometry."
   :fields
   {:northeast {:type :LatLng}
    :southwest {:type :LatLng}}}
  :Geometry
  {:description "Very specific geographic data."
   :fields
   {:location {:type :LatLng}
    :viewport {:type :Viewport}}}
  :Photo
  {:description "Photo link and metadata."
   :fields
   {:height {:type Int}
    :html_attributions {:type String}
    :photo_reference {:type String}
    :width {:type Int}}}
  :Restaurant
  {:description "Table of all of the restaurants, linked to region by regions field."
   :fields
   {:place_id {:type (non-null String)}
    :id {:type (non-null ID)}
    :name {:type (non-null String ) :description "imprecise human mechansim for non uniquely identifying a place."}
    :geometry {:type :Geometry :description "Very specific geographic data."}
    :rating {:type Int :description "Google places rating."}
    :photos {:type (list :Photo) :description "List of photos."}
    :price_level {:type Int :description "Price level of establishment."}
    :is_pf_changs {:type Boolean :description "Whether or not this is a P.F Chang's."}
    :regions {:type (list :Region)
                :description "Region based on existence of pf changs in area."
                :resolve :Restaurant/regions}}}
  :Region
  {:description "An area for a given pf changs index."
   :fields
   {:id {:type (non-null ID)}
    :pfchangs_index {:type Int
                     :description "PF changs index for the given region."}
   :pfchangs_place_id {:type String
          :description "The id of the pf changs that is the center of the region."}
   :restaurants {:type (non-null (list :Restaurant))
                 :description "restaurants in this region."
                 :resolve :Region/restaurants}}}}
:queries
 {:restaurant_by_id
  {:type :Restaurant
   :description "Access a restaurant by its unique id, if it exists."
   :args {:id {:type ID}}
   :resolve :query/restaurant_by_id}
  :region_by_id
  {:type :Region
   :description "Access a Region by its unique id, if it exists."
   :args {:id {:type ID}}
   :resolve :query/region_by_id}
 :restaurants_list
  {:type (non-null (list :Restaurant))
   :description "List all of the restaurants."
   :resolve :query/restaurants_list}
 :regions_list
 {:type (non-null (list :Region))
   :description "List all of the regions for which the pf changs index exists."
 :resolve :query/regions_list}}}
