{:objects
 {:PfChangs
  {:description "A physical or virtual board pfchang."
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :summary {:type String
              :description "A one-line summary of the pfchang."}
    :description {:type String
                  :description "A long-form description of the pfchang."}
    :designers {:type (non-null (list :Designer))
                :description "Designers who contributed to the pfchang."
                :resolve :PfChangs/designers}
    :min_players {:type Int
                  :description "The minimum number of players the pfchang supports."}
    :max_players {:type Int
                  :description "The maximum number of players the pfchang supports."}
    :play_time {:type Int
                :description "Play time, in minutes, for a typical pfchang."}}}

  :Designer
  {:description "A person who may have contributed to a board pfchang design."
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :url {:type String
          :description "Home page URL, if known."}
    :pfchangs {:type (non-null (list :PfChangs))
            :description "pfchangs designed by this designer."
            :resolve :Designer/pfchangs}}}}

:queries
 {:pfchang_by_id
  {:type :PfChangs
   :description "Access a PfChangs by its unique id, if it exists."
   :args
   {:id {:type ID}}
   :resolve :query/pfchang-by-id}
 :pfchangs
  {:type (non-null (list :PfChangs))
   :resolve :query/list-pfchangs}}}
